<div class="quote">
<div class="reply"><%= params[:question] %></div>
<div class="person">– You</div>
</div>

<div class="quote coach">
<% if params[:question][-1] == '?' %>
<div class="reply">Silly question, get dressed and go to work!</div>
<div class="person">– Coach</div>
  <% else %>
<div class="reply">I don't care, get dressed and go to work!</div>
<div class="person">– Your Coach</div>
<% end %>
</div>
<p><%= link_to "Ask a new question", ask_path %></p>