// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin-left: 27px;
  h1 {
    font-style: bold;
  }
  a {
    text-decoration: none;
    color: steelblue;
    &:hover {
      opacity: .8;
    }
  }
  // Styling for question page
  form {
    display: flex;
    padding: 0;
    margin: 0;
    input[type="text"] {
      width: 500px;
      height: 3em;
      border: 1px solid lightslategray;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    input[type="submit"] {
      background-color: #337AB7;
      color: #fff;
      font-weight: 700;
      width: 30px;
      border: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

    }
  }

  // Styling for answer page
  .quote {
    border-left: 5px solid gray;
    margin-bottom: 20px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    .person {
      font-style: italic;
      margin-top: 15px;
    }
  }
  .coach {
    background-color: #FFFFE1;
  }
}

